@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* Root colors  */
:root {
    --primary: #8D6E63;
    --secondary: #F9F9F9;
    --tertiary: #A8B5A0;
    --text-dark: #4A3B34;
    --text-light: #FFFFFF;
    --accent: #5A7262;

  }

body{
    background-color:var(--secondary);
    color: var(--text-dark);
    font-family:'Oswald', sans-serif;

    margin: 0;


    /* background-image: url("../images/zen-nandhukumar3.jpg"); */
}
#container{
    display: flex;
    width:100vw;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}
#mainHero{
    display: flex;
    justify-content: space-around;
}
#mainHeroLeft h2{
    font-size: 95px;
    font-weight: 700;
    /* letter-spacing: -3px;     */
    line-height: 89px;
    margin-bottom:10px;


}
#mainSubText{
    font-size:30px;
    font-style: italic;
    margin:0;

}
#mainHeroLeft h3{
    font-size: 30px;
    font-style: italic;

}
#mainQuote{
    background-color :var(--primary);
    color: var(--text-light);
    text-align: center;
    font-family:'Inter',serif;
    font-weight: 200;
    font-style: italic;
}
#mainQuote h3{
    font-size: 50px;
}
#mainQuote p{
   font-size:25px;
}


#services{
    width: 80%;
    height: 400px;
    background-color: #1b1b1b;
    justify-self: center;
    font-family: 'Merriweather Sans', sans-serif;
}

#services-container{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;

}

.service{
    margin: 60px;
    width: 30%;
    background-color: gray;
}
/* Jordan Styling */
#navContainer{
    display:flex;
    justify-content: flex-end;
    width: 90vw;
}
#navItems ul{
    display:flex;
    justify-content: space-between;
    gap:28px;
    list-style: none;
    font-size: 24px;
    font-weight: 700;
    color: var(--accent);
}
 a{
    text-decoration: none;
    color:inherit;
}


