@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


body{
    background-color: #1b1b1b;
    color: white;
}

#intro{
    width: 100%;
    height: 1000px;
    display: flex;
    background-image: url("../images/zen-nandhukumar3.jpg");
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size:cover;
    background-color: #1b1b1b;
    align-items: center;
    align-content: center;
    font-family: 'Oswald', serif;
}


#intro div{
    flex: 1;
    /* margin-left: 100px; */
    margin-bottom: 80px;
    margin-right: 600px;
    width: 10%;
    padding: 30px;
    padding-left: 140px;
    /* background-color: #1b1b1b; */
    font-family: 'Open Sans', sans-serif;
    /* line-height: 45px; */
    font-size: 25px;
}

#intro span{
    font-size: 95px;
    font-weight: 500;
    /* letter-spacing: -3px;     */
    line-height: 100px;
    font-family: 'Oswald', serif;
}


#intro h3{
    
    font-size: 30px;
    font-weight: 100;
}

.middle{
    height: 190px;
    background-color: #504e4e;
    text-align: center;
    align-content:center;
}

.middle h3{
    font-size: 30px;
}

#services{
    width: 80%;
    height: 400px;
    background-color: #1b1b1b;
    justify-self: center;
    font-family: 'Merriweather Sans', sans-serif;
}

#services-container{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;

}

.service{
    margin: 60px;
    width: 30%;
    background-color: gray;
}


