{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
<div id="container">
    <div id="mainHero">
        <div id="mainHeroLeft">
            <h2>DANIEL<br>CAMACHO</h2>
            <p id="mainSubText">Maestro En Psicologia Aplicada</p>
            <h3>Terapia online</h3>
        </div>
        <div id="mainHeroRight">
            <img src="../static/images/danielCamachoLogo.png" alt="Main Logo">
        </div>
    </div>


    <!-- Middle Div - between intro and brief explanation of what is offered -->
    <div id="mainQuote">
        <h3>"La felicidad de tu vida depende de la calidad de tus pensamientos."</h3>
        <p>- Marco Aurelio</p>
    </div>

    <div id="services">
        <h1>Servicios</h1>

        <div id="services-container">
            <div class="service">
                <img src="" alt="Imagen investigación">
                <h4>Investigación</h4>
                <p>Daniel realiza estudios para entender mejor el comportamiento humano y los procesos mentales.</p>
            </div>
            <div class="service">
                <img src="" alt="Imagen investigación">
                <h4>Terapia</h4>
                <p>Ofrece terapia individual, de pareja, familiar y grupal para ayudar a las personas a superar problemas emocionales y psicológicos.</p>
            </div>
            <div class="service">
                <img src="" alt="Imagen investigación">
                <h4>Evaluación</h4>
                <p>Realiza evaluaciones psicológicas para diagnosticar trastornos mentales y emocionales.</p>
            </div>
            <div class="service">
                <img src="" alt="Imagen investigación">
                <h4>Consultoría</h4>
                <p>Asesora a organizaciones y empresas sobre cómo mejorar el bienestar y la productividad de sus empleados.</p>
            </div>
        </div>

    </div>

    <div>
        <div><h1>Encuentra la ayuda que necesitas</h1>
            <a href="contact.html"><button>contactanos</button></a>
    </div>

    <div>
        <div><h2>¿Quién es Daniel?</h2></div>
        <div>
            <p>Daniel es un psicólogo con más de 10 años de experiencia en el campo de la psicología clínica y la investigación. Ha trabajado con personas de todas las edades y ha ayudado a cientos de personas a superar problemas emocionales y psicológicos. Daniel es un apasionado de su trabajo y se dedica a ayudar a las personas a vivir una vida más plena y feliz.</p>
        </div>
    </div>
</div>
{% endblock %}
